.container {
  display: flex;
  flex-direction: column;
  width: 23.375rem;
  padding: 0.75rem;
  text-align: left;
  border: 0.0596rem solid #ced4da;
}

.img_div {
  margin-bottom: 0.625rem;
}
.img_div > img {
  width: 100%;
  height: 100%;
}

.container > h2 {
  font-size: 1.25rem;
  line-height: 1.625rem;
  color: var(--color-primary);
  margin-bottom: 0.75rem;
  cursor: pointer;
}

.content {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #6d747a;
}

.author {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1192rem;
  color: #939ca3;
}

@media screen and (max-width: 450px) {
  .container {
    width: 20.25rem;
    /* height: 26.8125rem; */
  }
  .img_div {
    width: 18.75rem;
    /* height: 13.3125rem; */
  }

  .container > h2 {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
  .content {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-bottom: 1rem;
  }
  .author {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
