.main_div {
  padding: 2rem 6.75rem;
}

.small_dev {
  display: none;
}

.head_img {
  /* max-width: 71.75rem; */
  /* height: 29.4375rem; */
  margin-bottom: 2rem;
}

.head_img > img {
  width: 100%;
}

.content {
  text-align: left;
}

.content > h2 {
  font-size: 3rem;
  line-height: 3.875rem;
  color: #08090a;
  margin-bottom: 1.5rem;
}

.content > p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  color: #939ca3;
}

@media screen and (max-width: 500px) {
  .main_div {
    padding: 2rem 1rem;
  }
  .big_dev {
    display: none;
  }
  .small_dev {
    display: initial;
  }
  .head_img {
    max-width: 20.5rem;
    /* height: 13rem; */
    margin: auto;
    margin-bottom: 2rem;
  }
  .head_img > img {
    height: 13rem;
  }
  .content {
    padding: 0.0625rem 0.6875rem;
  }
  .content > h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: 1.9375rem;
  }
  .content > p {
    font-size: 0.875rem;
    line-height: 160%;
  }
}
